$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

h1 {
    z-index: 1;
}
.alert {
    cursor: pointer;
}
body {
    min-height: 100vh;
    position: relative;
    header {
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        height: calc(100vh - 56px);
    }
    footer {
        position: absolute;
        bottom: 0;
        background-color: #f5f5f5;
    }
}

.mini {
    object-fit: cover;
    aspect-ratio: 2/1;
    &.overview {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        border: 2px solid transparent;
    }
}

.mini.hoverable:hover {
    cursor: pointer;
    border: 2px solid #428bca;
}

iframe {
    aspect-ratio: 16/9;
}

#title-header, #btn-action {
    text-shadow: skyblue 3px 3px 6px;
    background: rgba(255, 255, 255, 0.8);
    padding: 0 0.5rem;
    border-radius: 10px;
    box-shadow: #fff 0 0 5px 5px;
    font-family: 'Lobster', cursive;
}

#trick-header{
    img {
        width: 100%;
        aspect-ratio: 2/1;
        object-fit: cover;
    }
}

iframe {
    width: 100%;
}

.accordion-button:not(.collapsed) {
    color: #fff !important;
    font-weight: bold;
    background-color: $primary !important;
}

#trick-media {
    img, iframe {
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.712);
    }
}

.preview-div {
    min-height: 150px;
}

.alert {
    cursor: pointer;
    z-index: 2000;
}

.user_image {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.comment-deleted {
    text-decoration: line-through;
    color: #ccc;
}
.profil-thumb {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

// Responsive
$navbar-height: 100px;
@media (max-width: 992px) {
    * {margin: 0;} // reset margin
    :root {
        // --bs-body-font-size: 2.5rem;
        font-size: 2.5rem !important;
    }
    h1 {
        font-size: 1.5rem !important;
    }
    #comment-form {
        margin: 0 !important;
        padding: 0;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    #media-display {
        display: none;
    }
    #cke_editable.cke_editable_themed.cke_contents_ltr.cke_show_borders {
        font-size: 2.5rem !important;
        line-height: 1.5;
    }
    body {
        #header-div , #header-div>div {
            padding: 0 !important;
        }
        header {
            height: calc(100vh - 66px) !important;
            .fa-3x {
                font-size: 2rem;
            }
        }
        footer {
            padding-bottom: $navbar-height;
        }
        // .form-control, .btn-lg {
        //     font-size: 2.5rem !important;
        // }
    }
    .container {
        max-width: none;
        margin: auto;
    }
    .navbar {
        font-size: larger;
        padding: 0 2rem;
        .navbar-brand img {
            width: auto;
            height: 50px;
        }
        .navbar-toggler i {
            font-size: 50px;
            color: black;
        }
        .profil-thumb {
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: xx-large;
            img {
                width: 50px;
                height: 50px;
            }
        }
        .navbar-collapse {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            margin-bottom: $navbar-height;
            background-color: #f5f5f5;
            text-align: center;
            border-radius: 10px 10px 0 0;
            .vr {
                display: none;
            }
            .nav-link img {
                height: 50px;
            }
        }
        .dropdown {
            position: unset;
        }
        .dropdown-menu[data-bs-popper]{
            position: absolute;
            top: auto !important;
            bottom: 0;
            width: 100%;
            text-align: center;
            margin-bottom: $navbar-height;
        }
    }
}